.table {
  border-radius: 32px !important;
  background-color: var(--color-white-0) !important;
}

.table th {
  background-color: var(--color-white-0) !important;
  color: var(--color-green-0) !important;
}

.table td {
  font-size: 12px;
  line-height: 44px;
  font-weight: 600;
  color: var(--color-grey-1);
}

.table td:hover {
  color: var(--color-green-0);
  cursor: pointer;
} 

.table tr:nth-child(even),
.table tr:nth-child(even) td {
  background-color: var(--color-grey-5);
}

.table tr:nth-child(odd) {
  background-color: var(--color-green-2);
}

.table ul {
  justify-content: flex-start !important;
  margin: 33px 0 !important;
}

.table li {
  margin-left: 19px !important;
}

.table li:first-child {
  font-size: 14px;
  line-height: 44px;
  color: var(--color-grey-1);
  letter-spacing: -0.56px;
  font-weight: 600;
  font-family: 'Proxima Nova';
  margin-right: 25%;
  padding-left: 36px;
}

.table li:last-child {
  margin-left: 28% !important;
}

.table li a,
.table li button {
  color: var(--color-grey-0) !important;
  font-weight: 600;
}