.nav {
  position: relative;
  background: var(--color-gradient);
  border-radius: 56px 56px 0px 56px;
  width: 267px;
  height: auto;
  padding-top: 55px;
  padding-left: 32px;
}

.logo {
  margin-bottom: 74px;
}

.category {
  width: fit-content;
  height: fit-content;
  margin-bottom: 24px;
  border-radius: 16px;
  padding: 11px 11px 9px 11px;
}

.active {
  background: var(--color-green-1);
}
