.header {
  display: flex;
  align-items: center;
  padding: 0 38px 49px 40px;
}

.arrows {
  display: flex;
  width: 88px;
  margin-right: 40px;
}

.arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(210, 209, 209, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrow:hover svg,
.arrow:focus svg {
  fill: black;
  transition: 0.4s;
}

.arrow {
  margin-right: 8px;
}

.arrow svg {
  font-size: 22px;
  fill: #989FA3;
}

.currentUser {
  display: flex;
  align-items: center;
}

.occupation {
  margin: 0;
  color: #989FA3;
}

